:root {
  --border-color: yellow;
  --background-hover-color: rgba(255, 255, 0, 0.825);
  --background-color-gradient: linear-gradient(0deg, #3c3d01, #010101);
  --background-color: #3c3d01;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --header-font-family: "Playfair Display", serif;
  --paragraph-font-family: "Poppins", sans-serif;
}

/* h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
} */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

h4 {
  color: #fff;
}

p {
  color: #fff;
}

input[type="search"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
}

.container {
  z-index: 4; /* Higher z-index to appear above the navbar */
  border: 10px solid var(--border-color);
  background: var(--background-color);
  background: var(--background-color-gradient);
  max-width: 100%;
  margin: 0;
  text-align: justify;
  /* background: #0a8f03;
  background: linear-gradient(135deg, #0a8f03, #ecf3e2); */
}

.bg-nav {
  background: #010101;
  /* background: var(--background-color-gradient); */
}

.navbar-toggler {
  /* border-color: #fff; */
  background-color: var(--border-color);
}

.nav-link-color {
  color: #fff !important;
  margin: 10px 25px;
}

.active {
  font-weight: bold !important;
}

.hero {
  text-align: center;
  background: #010101;
  padding: 60px;
  max-width: 100%;
}

.hero h1,
h2 {
  display: inline;
  line-height: 3;
}

.hero h1 {
  color: var(--border-color);
  margin: 10px;
}

.hero h2 {
  color: #fff;
}

.hero p {
  font-size: 20px;
  line-height: 1.5;
  margin: 15px;
  padding: 20px;
  font-family: var(--paragraph-font-family);
  text-align: center;
}

.my-intro {
  padding-left: 70px;
}

.my-pic {
  width: 300px;
  height: auto;
}

.my-info {
  margin-top: 120px;
  padding: 15px 30px;
}

.contact-me {
  margin-top: 120px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  margin: 130px 90px 20px 90px;
}

.sample-sites {
  text-align: center;
  font-size: 20px;
  font-family: var(--paragraph-font-family);
  margin-top: 120px;
  margin-bottom: 80px;
}

.brief-universe {
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 40px;
}

.brief-weather {
  padding-top: 120px;
  padding-left: 50px;
  padding-right: 40px;
}

.brief-yogurt {
  padding-top: 90px;
  margin-left: -120px;
  padding-right: 40px;
}

.projet p {
  margin-top: 30px;
}

.apps {
  border-radius: 4px;
  color: #000;
  background: var(--border-color);
  box-shadow: var(--box-shadow);
  text-decoration: none;
  text-transform: capitalize;
  padding: 20px 15px;
  transition: all 200ms ease-in-out;
}

.forecast {
  margin-left: 71%;
}

.apps:hover {
  background: var(--background-hover-color);
  cursor: pointer;
}

.search-button {
  border-radius: 4px;
  text-transform: capitalize;
  border: none;
  background: var(--border-color);
  box-shadow: var(--box-shadow);
  padding: 20px 15px;
  transition: all 200ms ease-in-out;
}

.search-button:hover {
  background: var(--background-hover-color);
}

.universe {
  max-width: 100%;
  border-radius: 5%;
  margin-left: 30px;
}

.weather {
  max-width: 100%;
  border-radius: 5%;
}

.yogurt {
  max-width: 100%;
  border-radius: 5%;
  margin-left: 80px;
}

.box {
  display: block;
  margin: 0 auto;
  background: var(--border-color);
  max-width: 40%;
  border-radius: 4px;
}

.box p {
  color: #010101;
  font-family: var(--paragraph-font-family);
  line-height: 2;
}

footer {
  background: #fff;
  max-width: 100%;
}

footer .sociaL-media a {
  padding: 30px;
}

@media (max-width: 580px) {
  .hero h1 {
    margin: 2px;
  }

  .hero h1,
  h2 {
    font-size: 15px;
  }

  .hero p {
    font-size: 15px;
  }

  .row p {
    padding: 20px;
    font-family: sans-serif;
  }

  .my-pic {
    display: block;
    margin: 0 auto !important;
    border-radius: 10px;
    padding-bottom: 20px;
  }

  .my-info {
    font-family: sans-serif;
  }

  .box {
    font-size: 12px;
    max-width: 95%;
    text-align: center;
    margin-top: -15px;
  }
}
